In [23]:
import tqdm
from faker import Faker
import random
from babel.dates import format_date

In [24]:
fake = Faker()
fake.seed(12345)
random.seed(12345)

In [25]:
# Define format of the data we would like to generate
FORMATS = ['short',
           'medium',
           'long',
           'full',
           'full',
           'full',
           'full',
           'full',
           'full',
           'full',
           'full',
           'full',
           'full',
           'd MMM YYY', 
           'd MMMM YYY',
           'dd MMM YYY',
           'd MMM, YYY',
           'd MMMM, YYY',
           'dd, MMM YYY',
           'd MM YY',
           'd MMMM YYY',
           'MMMM d YYY',
           'MMMM d, YYY',
           'dd.MM.YY']

In [26]:
# change this if you want it to work with another language
LOCALES = ['en_US']

In [27]:
def load_date():
    """
        Loads some fake dates 
        :returns: tuple containing human readable string, machine readable string, and date object
    """
    dt = fake.date_object()

    try:
        human_readable = format_date(dt, format=random.choice(FORMATS),  locale='en_US') # locale=random.choice(LOCALES))
        human_readable = human_readable.lower()
        human_readable = human_readable.replace(',','')
        machine_readable = dt.isoformat()
        
    except AttributeError as e:
        return None, None, None

    return human_readable, machine_readable, dt

In [28]:
def load_dataset(m):
    """
        Loads a dataset with m examples and vocabularies
        :m: the number of examples to generate
    """
    
    human_vocab = set()
    machine_vocab = set()
    dataset = []
    Tx = 30
    

    for i in tqdm.tqdm(range(m)):
        h, m, _ = load_date()
        if h is not None:
            dataset.append((h, m))
            human_vocab.update(tuple(h))
            machine_vocab.update(tuple(m))
    
    human = dict(zip(sorted(human_vocab) + ['<unk>', '<pad>'], 
                     list(range(len(human_vocab) + 2))))
    inv_machine = dict(enumerate(sorted(machine_vocab)))
    machine = {v:k for k,v in inv_machine.items()}
 
    return dataset, human, machine, inv_machine

In [32]:
m = 10000
dataset, human_vocab, machine_vocab, inv_machine_vocab = load_dataset(m)

100%|██████████| 10000/10000 [00:00<00:00, 18487.25it/s]

In [33]:
dataset

[('27 august 1994', '1994-08-27'),
 ('thursday july 20 1972', '1972-07-20'),
 ('monday march 8 1971', '1971-03-08'),
 ('11/17/12', '2012-11-17'),
 ('monday september 22 1986', '1986-09-22'),
 ('sunday november 23 2003', '2003-11-23'),
 ('25 feb 2012', '2012-02-25'),
 ('23 06 71', '1971-06-23'),
 ('saturday may 22 2004', '2004-05-22'),
 ('thursday december 29 1988', '1988-12-29'),
 ('11 july 2018', '2018-07-11'),
 ('saturday december 19 1981', '1981-12-19'),
 ('thursday june 13 1996', '1996-06-13'),
 ('01 jun 1998', '1998-06-01'),
 ('tuesday june 29 1982', '1982-06-29'),
 ('friday september 28 2012', '2012-09-28'),
 ('april 6 2003', '2003-04-06'),
 ('may 26 1988', '1988-05-26'),
 ('april 14 2017', '2017-04-14'),
 ('november 2 2013', '2013-11-02'),
 ('03 dec 1992', '1992-12-03'),
 ('aug 14 1986', '1986-08-14'),
 ('june 19 1981', '1981-06-19'),
 ('9 june 1981', '1981-06-09'),
 ('thursday september 10 1987', '1987-09-10'),
 ('oct 10 1988', '1988-10-10'),
 ('thursday february 26 2004', '2004-02-26'),
 ('21.12.84', '1984-12-21'),
 ('3 jan 1974', '1974-01-03'),
 ('15 sep 1989', '1989-09-15'),
 ('2 10 74', '1974-10-02'),
 ('21 jul 1979', '1979-07-21'),
 ('30 jul 1986', '1986-07-30'),
 ('8 november 1996', '1996-11-08'),
 ('tuesday february 25 1986', '1986-02-25'),
 ('27.09.05', '2005-09-27'),
 ('july 18 1974', '1974-07-18'),
 ('27 mar 2000', '2000-03-27'),
 ('27 01 04', '2004-01-27'),
 ('9/22/78', '1978-09-22'),
 ('8 02 93', '1993-02-08'),
 ('26 april 2017', '2017-04-26'),
 ('11/5/90', '1990-11-05'),
 ('friday april 17 2009', '2009-04-17'),
 ('monday august 9 1976', '1976-08-09'),
 ('13.02.10', '2010-02-13'),
 ('10 feb 2007', '2007-02-10'),
 ('thursday november 26 1981', '1981-11-26'),
 ('05 apr 1989', '1989-04-05'),
 ('june 5 1970', '1970-06-05'),
 ('wednesday november 5 1980', '1980-11-05'),
 ('20.11.79', '1979-11-20'),
 ('wednesday may 26 1971', '1971-05-26'),
 ('saturday april 19 2003', '2003-04-19'),
 ('wednesday january 16 2008', '2008-01-16'),
 ('21 mar 1974', '1974-03-21'),
 ('april 27 1972', '1972-04-27'),
 ('tuesday june 13 1972', '1972-06-13'),
 ('tuesday february 19 1980', '1980-02-19'),
 ('october 8 2002', '2002-10-08'),
 ('thursday august 29 1974', '1974-08-29'),
 ('16 jun 1981', '1981-06-16'),
 ('monday july 10 1972', '1972-07-10'),
 ('28 jan 2011', '2011-01-28'),
 ('friday november 2 2012', '2012-11-02'),
 ('may 6 1981', '1981-05-06'),
 ('feb 20 2009', '2009-02-20'),
 ('thursday october 30 1986', '1986-10-30'),
 ('wednesday june 28 1989', '1989-06-28'),
 ('13 may 2007', '2007-05-13'),
 ('03.09.97', '1997-09-03'),
 ('7/21/96', '1996-07-21'),
 ('11/6/01', '2001-11-06'),
 ('15 11 11', '2011-11-15'),
 ('wednesday march 21 1973', '1973-03-21'),
 ('july 8 2012', '2012-07-08'),
 ('apr 9 2015', '2015-04-09'),
 ('august 10 1996', '1996-08-10'),
 ('22 jan 1990', '1990-01-22'),
 ('may 5 1976', '1976-05-05'),
 ('6/5/17', '2017-06-05'),
 ('september 8 1981', '1981-09-08'),
 ('17 dec 2010', '2010-12-17'),
 ('31 05 01', '2001-05-31'),
 ('monday april 5 1976', '1976-04-05'),
 ('tuesday october 25 2005', '2005-10-25'),
 ('sep 8 1987', '1987-09-08'),
 ('16 sep 2015', '2015-09-16'),
 ('sunday april 25 2010', '2010-04-25'),
 ('wednesday march 10 1971', '1971-03-10'),
 ('monday december 17 1990', '1990-12-17'),
 ('thursday february 26 1987', '1987-02-26'),
 ('18 december 2006', '2006-12-18'),
 ('saturday june 1 1985', '1985-06-01'),
 ('9/22/86', '1986-09-22'),
 ('october 29 2018', '2018-10-29'),
 ('21.09.96', '1996-09-21'),
 ('monday november 2 2009', '2009-11-02'),
 ('4/4/04', '2004-04-04'),
 ('tuesday august 8 2006', '2006-08-08'),
 ('thursday july 22 2004', '2004-07-22'),
 ('oct 9 2013', '2013-10-09'),
 ('monday august 1 1977', '1977-08-01'),
 ('10 oct 1976', '1976-10-10'),
 ('april 6 1981', '1981-04-06'),
 ('thursday january 19 1995', '1995-01-19'),
 ('thursday september 4 1975', '1975-09-04'),
 ('september 10 1993', '1993-09-10'),
 ('sunday march 7 1971', '1971-03-07'),
 ('2 apr 2009', '2009-04-02'),
 ('june 9 1983', '1983-06-09'),
 ('thursday march 26 1987', '1987-03-26'),
 ('saturday january 9 1993', '1993-01-09'),
 ('february 3 2014', '2014-02-03'),
 ('tuesday october 6 2009', '2009-10-06'),
 ('monday june 21 1971', '1971-06-21'),
 ('tuesday september 3 1974', '1974-09-03'),
 ('07 aug 2005', '2005-08-07'),
 ('31 oct 1977', '1977-10-31'),
 ('10 aug 1981', '1981-08-10'),
 ('11 june 2003', '2003-06-11'),
 ('tuesday march 28 2000', '2000-03-28'),
 ('17 oct 2009', '2009-10-17'),
 ('saturday november 29 2003', '2003-11-29'),
 ('2 02 90', '1990-02-02'),
 ('may 29 1984', '1984-05-29'),
 ('jan 10 2013', '2013-01-10'),
 ('saturday august 4 1973', '1973-08-04'),
 ('september 6 1984', '1984-09-06'),
 ('28 september 2009', '2009-09-28'),
 ('dec 29 2005', '2005-12-29'),
 ('january 22 1991', '1991-01-22'),
 ('thursday september 2 2004', '2004-09-02'),
 ('thursday october 19 1995', '1995-10-19'),
 ('friday september 7 1979', '1979-09-07'),
 ('12 jul 1997', '1997-07-12'),
 ('sunday october 19 1980', '1980-10-19'),
 ('sunday december 24 1978', '1978-12-24'),
 ('october 9 2006', '2006-10-09'),
 ('monday september 10 1973', '1973-09-10'),
 ('15 oct 1986', '1986-10-15'),
 ('19 feb 2012', '2012-02-19'),
 ('17 jun 1992', '1992-06-17'),
 ('friday october 25 1974', '1974-10-25'),
 ('sunday may 14 1972', '1972-05-14'),
 ('saturday july 24 1993', '1993-07-24'),
 ('jan 6 2004', '2004-01-06'),
 ('may 10 2017', '2017-05-10'),
 ('25 march 2008', '2008-03-25'),
 ('sunday august 6 2000', '2000-08-06'),
 ('jan 14 1989', '1989-01-14'),
 ('nov 26 1999', '1999-11-26'),
 ('tuesday december 7 1999', '1999-12-07'),
 ('saturday august 2 2003', '2003-08-02'),
 ('02 dec 2007', '2007-12-02'),
 ('tuesday july 25 1995', '1995-07-25'),
 ('22 jun 1984', '1984-06-22'),
 ('15.06.97', '1997-06-15'),
 ('15 nov 1986', '1986-11-15'),
 ('tuesday february 22 1977', '1977-02-22'),
 ('01 mar 1974', '1974-03-01'),
 ('wednesday january 28 2015', '2015-01-28'),
 ('thursday may 24 2001', '2001-05-24'),
 ('february 18 1996', '1996-02-18'),
 ('friday october 8 2010', '2010-10-08'),
 ('23.04.85', '1985-04-23'),
 ('may 28 2001', '2001-05-28'),
 ('3 june 1993', '1993-06-03'),
 ('october 28 2000', '2000-10-28'),
 ('20 10 72', '1972-10-20'),
 ('10 december 1975', '1975-12-10'),
 ('9 oct 2018', '2018-10-09'),
 ('10 jun 1983', '1983-06-10'),
 ('9 sep 2011', '2011-09-09'),
 ('26 october 1971', '1971-10-26'),
 ('wednesday august 20 1980', '1980-08-20'),
 ('12 october 1972', '1972-10-12'),
 ('24 12 75', '1975-12-24'),
 ('24 03 71', '1971-03-24'),
 ('saturday may 30 1981', '1981-05-30'),
 ('january 16 1999', '1999-01-16'),
 ('3 september 1999', '1999-09-03'),
 ('tuesday march 7 2000', '2000-03-07'),
 ('09.02.02', '2002-02-09'),
 ('sunday august 2 1998', '1998-08-02'),
 ('11 03 11', '2011-03-11'),
 ('wednesday june 21 2006', '2006-06-21'),
 ('29 december 2018', '2018-12-29'),
 ('17 march 1993', '1993-03-17'),
 ('july 11 1989', '1989-07-11'),
 ('october 27 1997', '1997-10-27'),
 ('31 march 1981', '1981-03-31'),
 ('thursday october 18 2001', '2001-10-18'),
 ('20 feb 1978', '1978-02-20'),
 ('thursday may 30 2013', '2013-05-30'),
 ('wednesday december 22 1976', '1976-12-22'),
 ('wednesday july 15 1998', '1998-07-15'),
 ('wednesday may 1 2013', '2013-05-01'),
 ('wednesday june 19 1996', '1996-06-19'),
 ('november 15 1981', '1981-11-15'),
 ('2 09 77', '1977-09-02'),
 ('29 august 1977', '1977-08-29'),
 ('may 25 2015', '2015-05-25'),
 ('27 april 2012', '2012-04-27'),
 ('april 2 1996', '1996-04-02'),
 ('may 22 1978', '1978-05-22'),
 ('december 31 2013', '2013-12-31'),
 ('mar 14 1992', '1992-03-14'),
 ('22 december 1988', '1988-12-22'),
 ('thursday november 4 1971', '1971-11-04'),
 ('monday january 16 2017', '2017-01-16'),
 ('nov 11 1999', '1999-11-11'),
 ('friday april 20 1973', '1973-04-20'),
 ('wednesday november 11 1970', '1970-11-11'),
 ('19.11.85', '1985-11-19'),
 ('january 16 2018', '2018-01-16'),
 ('monday october 11 1999', '1999-10-11'),
 ('january 11 2002', '2002-01-11'),
 ('23 april 1979', '1979-04-23'),
 ('feb 18 1971', '1971-02-18'),
 ('friday october 10 2008', '2008-10-10'),
 ('17 jun 1994', '1994-06-17'),
 ('18 jul 2018', '2018-07-18'),
 ('23 february 1997', '1997-02-23'),
 ('friday may 27 1983', '1983-05-27'),
 ('october 29 2002', '2002-10-29'),
 ('april 20 1992', '1992-04-20'),
 ('tuesday december 25 1984', '1984-12-25'),
 ('wednesday may 27 2015', '2015-05-27'),
 ('08 may 2010', '2010-05-08'),
 ('31 july 1997', '1997-07-31'),
 ('october 29 2012', '2012-10-29'),
 ('03 sep 1972', '1972-09-03'),
 ('2 december 1979', '1979-12-02'),
 ('3 may 2006', '2006-05-03'),
 ('9 sep 2007', '2007-09-09'),
 ('monday february 22 1993', '1993-02-22'),
 ('19 october 1978', '1978-10-19'),
 ('23.07.09', '2009-07-23'),
 ('thursday october 2 1997', '1997-10-02'),
 ('04 may 1980', '1980-05-04'),
 ('jan 7 1999', '1999-01-07'),
 ('thursday march 18 1976', '1976-03-18'),
 ('dec 3 2017', '2017-12-03'),
 ('16 feb 1980', '1980-02-16'),
 ('jun 9 1986', '1986-06-09'),
 ('09.09.84', '1984-09-09'),
 ('november 15 1995', '1995-11-15'),
 ('may 2 1977', '1977-05-02'),
 ('24 october 1980', '1980-10-24'),
 ('may 17 2012', '2012-05-17'),
 ('27 07 83', '1983-07-27'),
 ('06 jun 1974', '1974-06-06'),
 ('tuesday january 3 1995', '1995-01-03'),
 ('06.07.91', '1991-07-06'),
 ('june 21 1980', '1980-06-21'),
 ('sunday december 26 2010', '2010-12-26'),
 ('30 august 2018', '2018-08-30'),
 ('24 nov 2008', '2008-11-24'),
 ('10 jun 2004', '2004-06-10'),
 ('may 23 2011', '2011-05-23'),
 ('8 april 2015', '2015-04-08'),
 ('saturday february 11 1978', '1978-02-11'),
 ('tuesday june 8 1999', '1999-06-08'),
 ('3/19/90', '1990-03-19'),
 ('16 june 1994', '1994-06-16'),
 ('monday march 25 2002', '2002-03-25'),
 ('december 22 1994', '1994-12-22'),
 ('11/14/81', '1981-11-14'),
 ('saturday may 24 1980', '1980-05-24'),
 ('14 oct 2016', '2016-10-14'),
 ('22 06 89', '1989-06-22'),
 ('wednesday november 7 1990', '1990-11-07'),
 ('31 july 1970', '1970-07-31'),
 ('23 april 1970', '1970-04-23'),
 ('thursday december 6 1984', '1984-12-06'),
 ('09 dec 2005', '2005-12-09'),
 ('21 mar 2000', '2000-03-21'),
 ('wednesday october 6 1993', '1993-10-06'),
 ('24 april 2009', '2009-04-24'),
 ('11 october 2018', '2018-10-11'),
 ('wednesday august 18 1999', '1999-08-18'),
 ('24 november 1997', '1997-11-24'),
 ('monday october 15 1979', '1979-10-15'),
 ('september 28 1993', '1993-09-28'),
 ('27 may 1997', '1997-05-27'),
 ('11/9/71', '1971-11-09'),
 ('22.06.71', '1971-06-22'),
 ('monday october 1 2012', '2012-10-01'),
 ('14 dec 1997', '1997-12-14'),
 ('14 april 1995', '1995-04-14'),
 ('sunday october 1 2006', '2006-10-01'),
 ('dec 30 1994', '1994-12-30'),
 ('3/5/17', '2017-03-05'),
 ('february 7 1995', '1995-02-07'),
 ('21 jan 2004', '2004-01-21'),
 ('15 apr 1970', '1970-04-15'),
 ('saturday september 1 2018', '2018-09-01'),
 ('8 december 1980', '1980-12-08'),
 ('6 apr 1999', '1999-04-06'),
 ('august 23 1983', '1983-08-23'),
 ('wednesday september 9 2015', '2015-09-09'),
 ('saturday july 14 1990', '1990-07-14'),
 ('may 13 1981', '1981-05-13'),
 ('wednesday february 11 1998', '1998-02-11'),
 ('sunday march 21 1999', '1999-03-21'),
 ('tuesday august 12 2003', '2003-08-12'),
 ('saturday july 2 2011', '2011-07-02'),
 ('24 sep 1976', '1976-09-24'),
 ('8 feb 2016', '2016-02-08'),
 ('17 january 1999', '1999-01-17'),
 ('wednesday january 8 2003', '2003-01-08'),
 ('05 dec 2014', '2014-12-05'),
 ('29 jan 1988', '1988-01-29'),
 ('saturday april 7 1984', '1984-04-07'),
 ('14 sep 1976', '1976-09-14'),
 ('monday february 15 1988', '1988-02-15'),
 ('thursday may 25 2000', '2000-05-25'),
 ('february 16 1992', '1992-02-16'),
 ('5 01 80', '1980-01-05'),
 ('sunday january 3 2010', '2010-01-03'),
 ('sunday january 30 2005', '2005-01-30'),
 ('26 nov 1996', '1996-11-26'),
 ('08 feb 2010', '2010-02-08'),
 ('30 dec 1973', '1973-12-30'),
 ('7 march 1985', '1985-03-07'),
 ('04 feb 2013', '2013-02-04'),
 ('september 21 2010', '2010-09-21'),
 ('25 oct 2017', '2017-10-25'),
 ('sunday may 31 1998', '1998-05-31'),
 ('may 24 2012', '2012-05-24'),
 ('8/28/96', '1996-08-28'),
 ('april 5 1971', '1971-04-05'),
 ('saturday february 14 1998', '1998-02-14'),
 ('monday july 5 2004', '2004-07-05'),
 ('7/13/11', '2011-07-13'),
 ('saturday november 20 1999', '1999-11-20'),
 ('thursday may 3 1984', '1984-05-03'),
 ('13 jan 1994', '1994-01-13'),
 ('thursday february 4 1988', '1988-02-04'),
 ('23 dec 1991', '1991-12-23'),
 ('10 nov 2006', '2006-11-10'),
 ('14 june 2005', '2005-06-14'),
 ('friday january 1 1988', '1988-01-01'),
 ('5/22/17', '2017-05-22'),
 ('october 14 1975', '1975-10-14'),
 ('17 august 2011', '2011-08-17'),
 ('saturday january 14 2006', '2006-01-14'),
 ('sunday october 4 1987', '1987-10-04'),
 ('friday november 11 1977', '1977-11-11'),
 ('nov 16 2014', '2014-11-16'),
 ('19 mar 1974', '1974-03-19'),
 ('thursday november 14 1985', '1985-11-14'),
 ('april 11 1996', '1996-04-11'),
 ('thursday february 2 1989', '1989-02-02'),
 ('may 28 1981', '1981-05-28'),
 ('23 aug 1993', '1993-08-23'),
 ('september 13 2018', '2018-09-13'),
 ('26 apr 1985', '1985-04-26'),
 ('26 01 88', '1988-01-26'),
 ('saturday november 10 1979', '1979-11-10'),
 ('wednesday november 23 1977', '1977-11-23'),
 ('monday september 19 2005', '2005-09-19'),
 ('friday july 19 2002', '2002-07-19'),
 ('monday december 8 2014', '2014-12-08'),
 ('august 24 2011', '2011-08-24'),
 ('tuesday may 24 1988', '1988-05-24'),
 ('17 aug 1979', '1979-08-17'),
 ('friday february 21 2014', '2014-02-21'),
 ('september 16 1993', '1993-09-16'),
 ('5 january 1988', '1988-01-05'),
 ('wednesday may 6 1970', '1970-05-06'),
 ('wednesday june 4 2003', '2003-06-04'),
 ('saturday october 8 1977', '1977-10-08'),
 ('28 july 1993', '1993-07-28'),
 ('wednesday june 24 1992', '1992-06-24'),
 ('saturday february 22 1997', '1997-02-22'),
 ('monday june 19 2006', '2006-06-19'),
 ('wednesday march 3 1993', '1993-03-03'),
 ('tuesday february 16 2016', '2016-02-16'),
 ('oct 7 1984', '1984-10-07'),
 ('4/2/01', '2001-04-02'),
 ('15 february 1989', '1989-02-15'),
 ('sunday july 9 2017', '2017-07-09'),
 ('15 mar 1978', '1978-03-15'),
 ('28 08 11', '2011-08-28'),
 ('10/15/01', '2001-10-15'),
 ('27 nov 1987', '1987-11-27'),
 ('saturday august 29 1992', '1992-08-29'),
 ('october 10 2004', '2004-10-10'),
 ('saturday march 19 2005', '2005-03-19'),
 ('saturday january 7 2006', '2006-01-07'),
 ('10 nov 2006', '2006-11-10'),
 ('saturday december 23 2000', '2000-12-23'),
 ('20 january 1984', '1984-01-20'),
 ('20 feb 2015', '2015-02-20'),
 ('monday may 28 1973', '1973-05-28'),
 ('may 28 1973', '1973-05-28'),
 ('12 august 2010', '2010-08-12'),
 ('friday april 28 2017', '2017-04-28'),
 ('sunday april 15 2001', '2001-04-15'),
 ('monday december 18 1995', '1995-12-18'),
 ('wednesday may 15 2002', '2002-05-15'),
 ('saturday march 31 1973', '1973-03-31'),
 ('sunday april 23 1995', '1995-04-23'),
 ('17 aug 2001', '2001-08-17'),
 ('thursday august 19 2010', '2010-08-19'),
 ('mar 28 2006', '2006-03-28'),
 ('tuesday october 2 1979', '1979-10-02'),
 ('may 3 1993', '1993-05-03'),
 ('friday december 13 1991', '1991-12-13'),
 ('wednesday august 19 2015', '2015-08-19'),
 ('thursday october 26 2017', '2017-10-26'),
 ('sunday october 21 2018', '2018-10-21'),
 ('12 feb 1991', '1991-02-12'),
 ('march 7 1973', '1973-03-07'),
 ('29 october 2018', '2018-10-29'),
 ('27 jan 2002', '2002-01-27'),
 ('thursday april 7 2016', '2016-04-07'),
 ('wednesday june 1 2016', '2016-06-01'),
 ('december 3 1986', '1986-12-03'),
 ('saturday october 3 1987', '1987-10-03'),
 ('06 apr 2001', '2001-04-06'),
 ('sunday january 4 1976', '1976-01-04'),
 ('21 nov 1998', '1998-11-21'),
 ('1 april 1995', '1995-04-01'),
 ('sunday january 27 1974', '1974-01-27'),
 ('saturday november 18 1989', '1989-11-18'),
 ('9/5/92', '1992-09-05'),
 ('tuesday may 3 1983', '1983-05-03'),
 ('thursday march 22 1990', '1990-03-22'),
 ('7/6/73', '1973-07-06'),
 ('20 aug 2018', '2018-08-20'),
 ('4 january 2005', '2005-01-04'),
 ('feb 14 2015', '2015-02-14'),
 ('apr 25 2018', '2018-04-25'),
 ('aug 24 1981', '1981-08-24'),
 ('thursday may 22 1997', '1997-05-22'),
 ('08 jun 2012', '2012-06-08'),
 ('january 22 2009', '2009-01-22'),
 ('tuesday november 26 1985', '1985-11-26'),
 ('may 23 1979', '1979-05-23'),
 ('9 12 77', '1977-12-09'),
 ('8 september 1979', '1979-09-08'),
 ('saturday october 28 1995', '1995-10-28'),
 ('13 aug 2015', '2015-08-13'),
 ('saturday august 27 1994', '1994-08-27'),
 ('thursday september 11 2008', '2008-09-11'),
 ('30 january 1971', '1971-01-30'),
 ('23 feb 2018', '2018-02-23'),
 ('monday august 11 2003', '2003-08-11'),
 ('30.11.99', '1999-11-30'),
 ('16 may 1989', '1989-05-16'),
 ('14 12 84', '1984-12-14'),
 ('dec 19 1974', '1974-12-19'),
 ('21 06 94', '1994-06-21'),
 ('october 17 1997', '1997-10-17'),
 ('friday october 13 2017', '2017-10-13'),
 ('tuesday june 22 1976', '1976-06-22'),
 ('june 22 1980', '1980-06-22'),
 ('march 21 1995', '1995-03-21'),
 ('monday february 14 2011', '2011-02-14'),
 ('4 06 98', '1998-06-04'),
 ('3 march 1974', '1974-03-03'),
 ('june 6 2011', '2011-06-06'),
 ('19 aug 1974', '1974-08-19'),
 ('saturday february 17 1973', '1973-02-17'),
 ('june 3 1973', '1973-06-03'),
 ('14 nov 1996', '1996-11-14'),
 ('11/2/86', '1986-11-02'),
 ('wednesday april 27 2011', '2011-04-27'),
 ('monday october 25 1993', '1993-10-25'),
 ('17 june 2009', '2009-06-17'),
 ('saturday march 30 2013', '2013-03-30'),
 ('thursday july 3 2008', '2008-07-03'),
 ('october 21 2009', '2009-10-21'),
 ('tuesday september 19 1989', '1989-09-19'),
 ('17 feb 1983', '1983-02-17'),
 ('20 may 2011', '2011-05-20'),
 ('8 october 2010', '2010-10-08'),
 ('6 oct 1997', '1997-10-06'),
 ('6 november 1975', '1975-11-06'),
 ('monday june 25 2012', '2012-06-25'),
 ('wednesday july 23 2014', '2014-07-23'),
 ('tuesday september 22 1981', '1981-09-22'),
 ('thursday january 20 1994', '1994-01-20'),
 ('august 4 1980', '1980-08-04'),
 ('monday november 15 1971', '1971-11-15'),
 ('9/11/02', '2002-09-11'),
 ('07 mar 2013', '2013-03-07'),
 ('monday may 11 1998', '1998-05-11'),
 ('monday july 2 1973', '1973-07-02'),
 ('saturday october 17 2009', '2009-10-17'),
 ('8 march 1987', '1987-03-08'),
 ('12 jun 1998', '1998-06-12'),
 ('7/19/75', '1975-07-19'),
 ('may 16 2012', '2012-05-16'),
 ('29 oct 2010', '2010-10-29'),
 ('tuesday october 18 2005', '2005-10-18'),
 ('wednesday march 5 2014', '2014-03-05'),
 ('25 jun 2013', '2013-06-25'),
 ('18.03.00', '2000-03-18'),
 ('18 july 1971', '1971-07-18'),
 ('25 jun 1974', '1974-06-25'),
 ('14 feb 1998', '1998-02-14'),
 ('friday june 19 1981', '1981-06-19'),
 ('tuesday october 10 1989', '1989-10-10'),
 ('28 july 1988', '1988-07-28'),
 ('nov 25 2007', '2007-11-25'),
 ('sunday february 18 2001', '2001-02-18'),
 ('07 nov 1977', '1977-11-07'),
 ('1 dec 2017', '2017-12-01'),
 ('wednesday february 2 2011', '2011-02-02'),
 ('4 jan 1977', '1977-01-04'),
 ('thursday february 22 2018', '2018-02-22'),
 ('friday june 7 1985', '1985-06-07'),
 ('thursday september 17 1970', '1970-09-17'),
 ('monday august 30 1982', '1982-08-30'),
 ('saturday january 12 1985', '1985-01-12'),
 ('30 november 1995', '1995-11-30'),
 ('aug 28 1977', '1977-08-28'),
 ('sunday december 12 1993', '1993-12-12'),
 ('21 01 85', '1985-01-21'),
 ('sunday january 19 1992', '1992-01-19'),
 ('january 9 1970', '1970-01-09'),
 ('aug 1 1993', '1993-08-01'),
 ('friday october 19 1984', '1984-10-19'),
 ('12 feb 1982', '1982-02-12'),
 ('june 7 1999', '1999-06-07'),
 ('2 february 2002', '2002-02-02'),
 ('14 november 2009', '2009-11-14'),
 ('tuesday july 15 1986', '1986-07-15'),
 ('24 august 1973', '1973-08-24'),
 ('5 july 1992', '1992-07-05'),
 ('27 jul 2007', '2007-07-27'),
 ('27 december 1997', '1997-12-27'),
 ('wednesday december 10 1975', '1975-12-10'),
 ('tuesday october 12 1982', '1982-10-12'),
 ('monday january 7 1974', '1974-01-07'),
 ('thursday march 18 1999', '1999-03-18'),
 ('tuesday november 14 1972', '1972-11-14'),
 ('jan 13 2014', '2014-01-13'),
 ('july 28 2000', '2000-07-28'),
 ('14 october 1984', '1984-10-14'),
 ('thursday may 18 2017', '2017-05-18'),
 ('5 12 99', '1999-12-05'),

In [34]:
with open('/home/marcin/dates_valid.csv', 'w') as f:
    for hd, md in dataset:
        f.write(hd + ',' + md + '\n')